<div class="parent">
    
    <div class="daily"> 
        <h2 class="hleft">Daily statistics</h2>
        <p class="left">This field shows statistics you did on this specific days.
            <sup class="supp" title="Eg. the statistics about what you did on fridays.
Right now it's {{day}}.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </p>
        <div class="l">
            <button class="leftButton" routerLink="/stats/daily">
                SHOW
            </button>
        </div>
        <hr id="hrl">
    </div>

    <div class="weekly"> 
        <h2 class="hright">Weekly statistics</h2>
        <p class="right">This field shows statistics about this current week.</p>
        <div class="r">
            <button class="rightButton" routerLink="/stats/weekly">
                SHOW
            </button>
        </div>
        <hr id="hrr">
    </div>

    <div class="monthly"> 
        <h2 class="hleft">Monthly statistics</h2>
        <p class="left">This field shows statistics about this current month.</p>
        <div class="l">
            <button class="leftButton" routerLink="/stats/monthly">
                SHOW
            </button>
        </div>
        <hr id="hrl">
    </div>

    <div class="yearly"> 
        <h2 class="hright">Yearly statistics</h2>
        <p class="right">This field shows statistics about this current year.</p>
        <div class="r">
            <button class="rightButton" routerLink="/stats/yearly">
                SHOW
            </button>
        </div>
        <hr id="hrr">
    </div>
</div>
