h1 {
    color: white;
    text-align: center;
    font-size: 8em;
}

h3 {
    color: white;
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 2em;
    margin-top: 1em;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: rgb(214, 208, 208);
  outline: none;
  font-size: 16px;
  color: #232323;
  font-weight: 800;
}

.search-input::placeholder {
    color: #232323;
    font-weight: 800;
}

.search-button {
  width: 40px;
  height: 100%;
  background-color: rgb(132, 25, 167);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.search-button:hover {
  background-color: #630997;
}

.fa-search {
  font-size: 18px;
}

.card {
  margin-bottom: 1em;
}

.results {
  color: white;
  text-align: left;
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 0;
  padding-bottom: 1em;
}

#head {
  font-size: 2.5em;
  font-weight: bold;
}

#title {
  font-size: 2em;
}

#genre {
  font-size: 1.3em;
  color: rgb(236, 195, 13);
}

#btn2 {
  margin-left: 1em;
}

#btn3 {
  margin-left: 1em;
  background-color: rgb(30, 215, 96);
  border-color: #ffffff;
}

#btn3:hover {
  background-color: rgb(22, 170, 74);
  border-color: #ffffff;
}

