

<div class="wrap">

    <div class="expl"> 
        <h1>Search</h1>
        <h3>Find music by song name or artist name</h3>
    </div>

    <div class="search"> 
        <div class="search-container">
            <input type="text" id="search-input" class="search-input" placeholder="Search...">
            <button class="search-button" (click)="search()">
              <i class="fas fa-search"></i>
            </button>
        </div>
    </div>


    <div class="res">
        <h3 class="results" *ngIf="searchInput !== ''">Results for <i class="lblue">{{searchInput}}</i>

            <span class="badge rounded-pill bg-info" *ngIf="searchInput !== ''">{{(foundsongs$ |async)?.length}}</span>

        </h3>
        
    </div>

    <div class="result" *ngFor="let foundsong of foundsongs$ | async">     

        <div class="card">
            <div class="card-header" id="head">
                <p class="card-text" id="genre">Genre: <span class="badge rounded-pill bg-warning">{{foundsong.genre}}</span></p>
            </div>
            <div class="card-body">             
              <iframe style="border-radius:12px" [src]='srcgenerator(foundsong.trackId)' width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              <div class="buttons">
                <a class="btn btn-primary" id="btn" routerLink="/discover/{{foundsong.trackId}}">Find more like this</a>
                <a class="btn btn-secondary" *ngIf="!isLiked(foundsong)" id="btn2" (click)="likeSong(foundsong.id)"><i class="fa-solid fa-heart"></i></a>
                <a class="btn btn-danger" *ngIf="isLiked(foundsong)" id="btn2" (click)="dislikeSong(foundsong.id)"><i class="fa-solid fa-trash"></i></a>
                <a class="btn btn-secondary" id="btn3" routerLink="/musics/{{foundsong.trackId}}"><i class="fa-solid fa-circle-info"></i></a>
                <a class="btn btn-success" id="btn4" (click)="addBehaviorWithButton(foundsong.trackId)"><i class="fa-solid fa-plus"></i></a>
              </div>
            </div>
            
        </div>

        <hr>

    </div>

  

    <div class="accordion accordion-flush" id="accordionFlushExample" *ngIf="searchInput !== ''">
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="btn">
                <i class="fa-solid fa-clipboard-question"></i>I did not find the song I was looking for.
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <h3 class="h3">If you can't find a song, it can mean <span class="badge rounded-pill bg-secondary">2</span> things.</h3>
                <ul>
                <li>
                    <h4 class="h4"><span class="badge rounded-pill bg-warning">1.</span> Try searching with more exact parameters. (type in the artist too, the full track name etc.)</h4>
                </li>
                <li>
                    <h4 class="h4"><span class="badge rounded-pill bg-warning">2.</span> It is not in our database. You can help us adding it on our Help page.</h4>
                </li>
                <li>
                    <a type="button" href="https://accounts.spotify.com/authorize?client_id=1ec4eab22f26449491c0d514d9b464ef&response_type=code&redirect_uri=http://localhost:4200/help&scope=user-read-currently-playing" class="btn btn-light" id="go">Go to help ></a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    
  

</div>

<div *ngFor="let b of addedBehaviors$ | async">
</div>
