<div class="parent">
    <div class="div1"> 
        <p class="p1">Daily statistics</p>
    </div>


    <div class="div2"> 
        <div class="div2c">
            <div class="div2c1">
                <p class="mins">584</p>
                <p class="desc">minutes spent listening total on {{day}}s</p>
            </div>
        </div>
        
    </div>


    <div class="div3"> 
        <h2>Statistics from the last 7 days:</h2>
        <canvas id="myChart" style="background-color: transparent"></canvas>

    </div>


    <div class="div4"> 
        <p class="mostlistened">Most listened artists</p>
        <ol class="classol">
            <li class="classli">
                Dominic Fike
            </li>
            <li class="classli">
                Dzsúdló
            </li>
            <li class="classli">
                Pixies
            </li>
            <li class="classli">
                The Prodigy
            </li>
            <li class="classli">
                The Smiths
            </li>
        </ol>
    </div>


    <div class="div5"> 
        <p class="mostlistened">Most listened genres</p>
        <ol class="olgen">
            <li class="ligen">
                Alternative
            </li>
            <li class="ligen">
                Hip-Hop
            </li>
            <li class="ligen">
                Pop
            </li>
            <li class="ligen">
                R&B
            </li>
            <li class="ligen">
                Rock
            </li>
        </ol>

    </div>

    <div class="div6"> 

        <p class="mostlistened">Most listened songs</p>
        <ol class="classol">
            <li class="classli">
                Várnék
            </li>
            <li class="classli">
                KERINGŐ
            </li>
            <li class="classli">
                Mama's Boy
            </li>
            <li class="classli">
                Nem állhatunk szóba
            </li>
            <li class="classli">
                Think Of me Once In A While, Take Care
            </li>
        </ol>
        

    </div>

</div>
