h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

.h2s {
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    background-color: transparent;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 2em;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 5; 
        border-radius: 15px;
        height: fit-content;
        margin-bottom: 0;
    }
        .p1 {
            background-color: transparent;
            font-size: 6em;
            color: #fafafa;
            display: block;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            text-align: center;
        }

    .div2 { 
        grid-area: 2 / 1 / 3 / 3;
        background-color: rgb(87, 86, 169);
        border-radius: 15px;
    }

    .mins {
        background-color: transparent;
        font-size: 3em;
        margin-top: 2em;
        color: #ebcf45;
    }
    .desc {
        background-color: transparent;
        font-size: 1.2em;
        color: #fff;
    }
    .div2c {
        display: flex;
        justify-content: center !important;
        align-self: center;
        vertical-align: middle;
        align-items: center !important;
    }

    .div2c1 {
        background-color: transparent;
        display: block;
        text-align: center;
        justify-content: center !important;
        align-items: center !important;
    }
    .div3 { 
        grid-area: 3 / 1 / 5 / 3; 
        background-color: rgb(87, 86, 169);
        border-radius: 15px;
        padding: 0.6em;
    }
    .div4 { 
        grid-area: 2 / 3 / 4 / 4; 
        background-color: rgb(87, 86, 169);
        border-radius: 15px;
    }
    .div5 { 
        grid-area: 4 / 3 / 5 / 5; 
        background-color: rgb(87, 86, 169);
        border-radius: 15px;
    }
        
    .div6 { 
        grid-area: 2 / 4 / 4 / 5; 
        background-color: rgb(87, 86, 169);
        border-radius: 15px;
    }

.mostlistened {
    font-size: 2.2em;
    color: #fff;
    background-color: transparent;
    margin-left: 1.2em;
    margin-top: 0.5em;
}

.classol {
    background-color: transparent;
    font-size: 1.2em;
    color: #ebcf45;
    margin-left: 0.8em;
}

.classli {
    background-color: transparent;
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #ebcf45;
    padding-left: 0.7em;
}

.olgen {
    background-color: transparent;
    font-size: 1.5em;
    color: #ebcf45;
    margin-left: 0.6em;
}

.ligen {
    background-color: transparent;
    margin-top: 0.3em;
    color: #ebcf45;
    padding-left: 0.7em;
}

.btndiv {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 2em;
    display: inline-block;
    border-radius: 12px;
    background-color: #342332;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }