<div class="lsongs" *ngIf="(likedsongs$ |async)?.length > 0">
    <div class="results">
        <div class="hover">
            Liked songs
        </div>       
        <div class="card" *ngFor="let likedsong of likedsongs$ | async">
            <div class="card-header" id="head">
                <p class="card-text" id="genre">Genre: <span class="badge rounded-pill bg-danger">{{likedsong.genre}}</span></p>
            </div>
            <div class="card-body">
                <iframe style="border-radius:12px" [src]='srcgenerator(likedsong.trackId)' width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <div class="buttons">
                  <a class="btn btn-primary" id="btn" routerLink="/discover/{{likedsong.trackId}}">Find more like this</a>
                  <a class="btn btn-danger" id="btn2" (click)="dislikeSong(likedsong.id)"><i class="fa-solid fa-trash"></i></a>
                  <a class="btn btn-secondary" id="btn3" routerLink="/musics/{{likedsong.trackId}}"><i class="fa-solid fa-circle-info"></i></a>
                  <a class="btn btn-success" id="btn4" (click)="addBehaviorWithButton(likedsong.trackId)"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
