<h1>Hingify help station</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="btn">
        <i class="fa-solid fa-clipboard-question" id="ii"></i>I can't find a song.
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <h3>If you can't find a song, it is possible that the database is outdated in terms with Spotify.</h3>
        <h4>There is <span class="badge rounded-pill bg-secondary">2</span> options that you can do to help:</h4>
        <ul>
          <li>
              <h4><span class="badge rounded-pill bg-primary">1.</span> Adding it by listening to it on Spotify and pressing the button in the "How can I add a song with listening?" section.</h4>
          </li>
          <li>
            <h4><span class="badge rounded-pill bg-primary">2.</span> Adding it manually by copying an embed code in the "How can I find the Spotify Track ID?" section.</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" id="btn">
        <i class="fa-solid fa-clipboard-question" id="ii"></i>How can I add a song with listening?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <h3>Make sure you have authorized Hingify to collect data from your Spotify Account.</h3>
        <h3>If not, pressing the button may take you to a page where you have to authorize it first.</h3>
        <div class="button">
          <button type="button" class="btn btn-light" id="spotifybtn" (click)="currentlyPlaying()"><i class="fa-brands fa-spotify" id="info2"></i>I'm ready & listening!</button>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" id="btn">
        <i class="fa-solid fa-clipboard-question" id="ii"></i>How can I find the Spotify Track ID?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <h3>If you are on your Spotify launcher, it is just 4 simple steps: </h3>
        <ol>
          <li class="steps">Right-click on your song </li>
          <li class="steps">Click "Share" </li>
          <li class="steps">Select "Embed Track"</li>
          <li class="steps">Click on "COPY" and just paste it here, we'll handle from there.</li>
        </ol>
        <div class="input">
          <input type="text" id="cid" placeholder="Paste the embed code here.." />
          <button type="button" id="go" (click)="addSong()">I've got the code!</button>
        </div>
        
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" id="btn">
        <i class="fa-solid fa-clipboard-question" id="ii"></i>What are all these buttons below the songs?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="button">
          <button type="button" class="btn btn-light" id="show" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <span id="showspan">Show tutorial</span>
          </button>
        </div>   
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="staticBackdropLabel">Overall look</h1>
        </div>
        <div class="modal-body">
          <img src="./assets/buttons.png">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop2" data-bs-dismiss="modal" data-bs-toggle="modal" id="modalbtn" >Next ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="staticBackdropLabel">"Find more like this" button</h1>
        </div>
        <div class="modal-body"> 
          <h5>With this button, you can find the closest songs to a song.</h5>
          <hr>
          <img src="./assets/dark_findmore.png">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop3" data-bs-dismiss="modal" data-bs-toggle="modal" id="modalbtn" >Next ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="staticBackdropLabel">"Like" button</h1>
        </div>
        <div class="modal-body">      
          <img src="./assets/dark_like.png">
          <hr>
          <h5>With this button, you can add a songs to your liked songs.</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop4" data-bs-dismiss="modal" data-bs-toggle="modal" id="modalbtn" >Next ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="staticBackdropLabel">"Remove" button</h1>
        </div>
        <div class="modal-body">
          <img src="./assets/dark_remove.png">
          <hr>
          <h5>With this button, you can remove a songs from your liked songs.</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop5" data-bs-dismiss="modal" data-bs-toggle="modal" id="modalbtn" >Next ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="staticBackdropLabel">"Info" button</h1>
        </div>
        <div class="modal-body">
          <h5>With this button, you can find more detailed information about a song.</h5>
          <hr>
          <img src="./assets/dark_info.png">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-target="#staticBackdrop6" data-bs-dismiss="modal" data-bs-toggle="modal" id="modalbtn" >Next ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" aria-hidden="true" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="staticBackdropLabel">"Add" button</h1>
        </div>
        <div class="modal-body">
          <img src="./assets/dark_plus.png">
          <hr>
          <h5>With this button, you can add a song to your Behaviors for that time and name of day.</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modalbtn">Got it!</button>
        </div>
      </div>
    </div>
  </div>

  
</div>

<div class="added" *ngIf="(addedSong$ | async).length > 0">
  
</div>

