<h1>Hingify help station</h1>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5Bge1Dsqjc14hhGguYML5w?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="btn">
          I can't find a song.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h3>If you can't find a song, it is possible that the database is outdated in terms with Spotify.</h3>
          <h4>There is <span class="badge rounded-pill bg-secondary">2</span> options that you can do to help:</h4>
          <ul>
            <li>
                <h4><span class="badge rounded-pill bg-primary">1.</span> Adding it by listening to it on Spotify and pressing the button below.</h4>
                <button type="button" class="btn btn-light" id="spotifybtn">I'm listening!</button>
            </li>
            <li>
                <h4><span class="badge rounded-pill bg-primary">2.</span> Adding it if you have the Spotify track ID.</h4>
                <input type="text" placeholder="Spotify track ID" />
                <button type="button" class="btn btn-light">Go!</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>

  