h1 {
    color: white;
    text-align: left;
    font-size: 5em;
    padding-bottom: 1em;
}

h2 {
    color: white;
    text-align: left;
    font-size: 2.2em;
}

h3 {
    color: white;
    text-align: left;
    font-size: 2.3em;
}

.succ-add {
    color: rgb(42, 205, 77);
    text-align: center;
    font-size: 2.1em;
    margin-top: 3em;
}

h4 {
    color: white;
    text-align: left;
    font-size: 2em;
    margin-top: 1em;
}


h5 {
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 1em;
}

#btn {
    height: 3em;
    font-size: 1.1em;
}

ul {
    list-style: none
}

#info2 {
    margin-right: 0.4em;
    background-color: black;
    border-radius: 50%;
    color: rgb(30, 215, 96);
  }

#spotifybtn {
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    color: rgb(30, 215, 96);
    background-color: #212224;
    border: 2px solid rgb(30, 215, 96);
}
#spoty {
    margin-right: 0.5em;
    margin-left: 0.5em;
}
#ii {
    margin-left: 1em;
    margin-right: 1em;
}

.steps {
    color: #fff;
    font-size: 2em;
    margin-left: 1em;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #7ec2e2;
}

.button {
    display: flex;
    justify-content: center;
}

.accordion-button {
    color: #d7dadf;
    background-color: #5542b2;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.input {
    display: wrap;
}

#go {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    border-radius: 12px;
    margin-bottom: 2em; 
    background-color: #5542b2;
}

hr {
    border: 1px solid #fff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-items: center;
}

input[type=text] {
    margin-bottom: 2em; 
    margin-top: 3em; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4em;
    width: 38em;
    background-color: rgb(32, 81, 145);
    border: 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
}

input[type=text]::placeholder {
    color: #fff;
}

#show {
    margin-top: 2em;
    background: #46b9d6;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 16em;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  #showspan {
    display: inline-block;
    transform: skew(21deg);
  }
  
  #show::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(106, 44, 163);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  #show:hover {
    color: #fff;
  }
  
  #show:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .modal-content {
    border: transparent;
    box-shadow: none;
    width: 85em;
  }
  
  .modal-header {
    background-color: rgb(60, 58, 58);
    font-size: 4em;
  }
  
  .modal-body {
    background-color: rgb(51, 50, 50);
    font-size: 2em;
  }
  
  .modal-footer {
    background-color: rgb(51, 50, 50);
  }
  
  #modalbtn {
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 10px;
    color: rgb(30, 215, 96);
    background-color: #212224;
    border: 2px solid rgb(30, 215, 96);
  }
  
  #staticBackdropLabel {
    font-size: 2.2em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    text-align: center;
  }