<div class="parent" *ngFor="let stat of monthlyStats$ | async">
    <div class="div1"> 
        <p class="p1">Monthly statistics</p>
    </div>


    <div class="div2"> 
        <div class="div2c">
            <div class="div2c1">
                <p class="mins">{{stat.minsSpent}}</p>
                <p class="desc">minutes spent listening total last month</p>
            </div>
        </div>
        
    </div>


    <div class="div3"> 
        <p class="h2s">Statistics from the last 7 days:</p>
        <canvas id="myChart" style="background-color: transparent"></canvas>

    </div>


    <div class="div4"> 
        <p class="mostlistened">Most listened artists</p>
        <ol class="classol">
            <li class="classli">
                {{stat.mostListenedArtist}}
            </li>
            <li class="classli">
                {{stat.secondMostListenedArtist}}
            </li>
            <li class="classli">
                {{stat.thirdMostListenedArtist}}
            </li>
            <li class="classli">
                {{stat.fourthMostListenedArtist}}
            </li>
            <li class="classli">
                {{stat.fifthMostListenedArtist}}
            </li>
        </ol>
    </div>


    <div class="div5"> 
        <p class="mostlistened">Most listened genres ({{stat.numOfListenedGenre}} listened genre(s) total)</p>
        <ol class="olgen">
            <li class="ligen">
                {{stat.mostListenedGenre}}
            </li>
            <li class="ligen">
                {{stat.secondMostListenedGenre}}
            </li>
            <li class="ligen">
                {{stat.thirdMostListenedGenre}}
            </li>
            <li class="ligen">
                {{stat.fourthMostListenedGenre}}
            </li>
            <li class="ligen">
                {{stat.fifthMostListenedGenre}}
            </li>
        </ol>

    </div>

    <div class="div6"> 

        <p class="mostlistened">Most listened songs</p>
        <ol class="classol">
            <li class="classli">
                {{stat.mostListenedSong}}
            </li>
            <li class="classli">
                {{stat.secondMostListenedSong}}
            </li>
            <li class="classli">
                {{stat.thirdMostListenedSong}}
            </li>
            <li class="classli">
                {{stat.fourthMostListenedSong}}
            </li>
            <li class="classli">
                {{stat.fifthMostListenedSong}}
            </li>
        </ol>
        

    </div>

</div>
