<h1>Complex details</h1>

<div class="card" *ngFor="let song of song$ | async">
    <div class="card-header" id="head">
        <iframe style="border-radius:12px" [src]='srcgenerator(song.trackId)' width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>      
    </div>
    <div class="card-body">             
        <p class="card-text" id="genre">Genre: <span class="badge rounded-pill bg-info">{{song.genre}}</span></p>
        <p class="card-text" id="genre">Artist: <span class="badge rounded-pill bg-info">{{song.artistName}}</span></p>
        <p class="card-text" id="genre">trackName: <span class="badge rounded-pill bg-info">{{song.trackName}}</span></p>
        <p class="card-text" id="genre">popularity: <span class="badge rounded-pill bg-info">{{song.popularity}}</span></p>
        <p class="card-text" id="genre">acousticness: <span class="badge rounded-pill bg-info">{{song.acousticness}}</span></p>
        <p class="card-text" id="genre">danceability: <span class="badge rounded-pill bg-info">{{song.danceability}}</span></p>
        <p class="card-text" id="genre">energy: <span class="badge rounded-pill bg-info">{{song.energy}}</span></p>
        <p class="card-text" id="genre">key: <span class="badge rounded-pill bg-info">{{song.key}}</span></p>
        <p class="card-text" id="genre">liveness: <span class="badge rounded-pill bg-info">{{song.liveness}}</span></p>
        <p class="card-text" id="genre">loudness: <span class="badge rounded-pill bg-info">{{song.loudness}}</span></p>
        <p class="card-text" id="genre">mode: <span class="badge rounded-pill bg-info">{{song.mode}}</span></p>
        <p class="card-text" id="genre">speechiness: <span class="badge rounded-pill bg-info">{{song.speechiness}}</span></p>
        <p class="card-text" id="genre">tempo: <span class="badge rounded-pill bg-info">{{song.tempo}}</span></p>
        <p class="card-text" id="genre">valence: <span class="badge rounded-pill bg-info">{{song.valence}}</span></p>
    </div>
    
</div>