h1 {
    color: white;
    text-align: left;
    font-size: 6em;
    margin-bottom: 1.2em;
}

#genre {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

#header {
    font-size: 2.5em;
}

#item {
    text-align: center;
    font-size: 3em;
}

#aitem {
    text-decoration: none;
    color: rgb(149, 185, 240);
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#aitem:hover {
    color: rgb(98, 145, 216);
}

#divc {
    display: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.more {
    display: flex;
    text-align: center;
    height: 3em;
}

hr {
    border: 1px solid #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  
}

#btn2 {
    margin-left: 1em;
    margin-right: 0.5em;
  }
  
  #btn3 {
    background-color: rgb(36, 187, 207);
  }
  
  #btn3:hover {
    background-color: rgb(22, 103, 170);
  }
  
  #btn4 {
    margin-left: 0.5em;
    background-color: rgb(7, 157, 72);
  }
  
  #btn4:hover {
    background-color: rgb(5, 102, 47);
  }