<h1>Log in to proceed to the site!</h1>
    <div class="card">
    
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <table>
                <tr>
                    <h3 class="si">Login</h3>
                    <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="username">
                    <input name="password" [(ngModel)]="model.password"  class="form-control me-2" type="password" placeholder="password">
                    
                    <button class="c-button c-button--gooey" type="submit"> Sign in
                        <div class="c-button__blobs">
                        <div></div>
                        <div></div>
                        <div></div>
                        </div>
                      </button>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
                        <defs>
                          <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
                            <feBlend in="SourceGraphic" in2="goo"></feBlend>
                          </filter>
                        </defs>
                      </svg>
                    <h3>Don't have an account yet?</h3>
                    <a class="signup" href="/register">Sign up</a>
                </tr>
            </table>   
        </form>
    </div>


