* {
    box-sizing: border-box;
}

.card {
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border-radius: 1.4em;
    min-width: 30vw;
    border-width: 0.6vw;
    border-color: rgb(39, 101, 177);
    box-shadow: 1vw 0.5vw 0.5vw rgb(27, 19, 135);
    
}

.card:hover {
    border-color: #4c66bc;
    box-shadow: 1vw 0.5vw 0.5vw rgb(37, 26, 190);
}

h1 {
    font-size: 5em;
    color: #fff;
    margin-bottom: 0.8em;
    text-align: center;
}

h3 {
    color: rgb(223, 30, 30);
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 5em;
    text-align: center;
}

label {
    color: #ffff;
    margin-top: 0.6vw;
    margin-bottom: 0.2vw;
}

.btn {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3em;
    background-color: #0b4ac9;
}

input {
    margin-bottom: 1.2em;
    border-radius: 1.1vw;
    border-width: 0.1vw;
    border-color: rgb(0, 0, 0);
}

input:hover {
    border-color: #4c66bc;
}

select {
    background-color: transparent;
    border-radius: 0.5em;
    color: rgb(255, 255, 255);
}

option {
    background-color: rgb(60, 7, 139);
    color: #ffff;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }

.social {
    display: wrap;
    justify-content: center;
    margin-left: auto;
    justify-items: center;
    margin-right: auto;
    text-align: center;
}

#spotify {
    font-size: 3em;
    background-color: transparent;
    border: 0;
}