h1 {
    color: white;
    text-align: left;
    font-size: 8em;
    padding-bottom: 1em;
}

h2 {
    color: white;
    text-align: left;
    font-size: 4.5em;
    padding-bottom: 1em;
}

h3 {
    color: rgb(161, 47, 253);
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 1em;
    margin-top: 2em;
}

#head {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  #title {
    font-size: 2em;
  }
  
  #genre {
    font-size: 1.3em;
    color: rgb(236, 195, 13);
  }
  
  #btn2 {
    margin-left: 1em;
  }
  
  #btn3 {
    margin-left: 1em;
    background-color: rgb(30, 215, 96);
    border-color: #ffffff;
  }
  
  #btn3:hover {
    background-color: rgb(22, 170, 74);
    border-color: #ffffff;
  }

  hr {
    border: 0.5px solid #fcf3f3;
  }


