<h1>This playlist is based on your listening history divided into days and various times of the day.</h1>
<h2 class="time">Right now it's {{day}}, {{timeofday}}.</h2>

  <div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="accbtn">
          <i class="fa-solid fa-clipboard-question" id="acci"></i>What time of days are there?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h3 class="acch3">There are 6 times of the days;</h3>
          <ul>
            <li>
              <h4><span class="badge rounded-pill bg-primary">1.</span>Dawn</h4>
            </li>
            <li>
              <h4><span class="badge rounded-pill bg-primary">2.</span>Morning</h4>
            </li>
            <li>
              <h4><span class="badge rounded-pill bg-primary">3.</span>Forenoon</h4>
            </li>
            <li>
              <h4><span class="badge rounded-pill bg-primary">4.</span>Afternoon</h4>
            </li>
            <li>
              <h4><span class="badge rounded-pill bg-primary">5.</span>Evening</h4>
            </li>
            <li>
              <h4><span class="badge rounded-pill bg-primary">6.</span>Night</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" id="accbtn">
          <i class="fa-solid fa-clipboard-question" id="acci"></i>Can I save this playlist on Spotfy?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h3 class="acch3">Yes! The playlist will be called "{{day}}, {{timeofday}} by Hingify". You just have to click the button below.</h3>
          <div class="buttons">
            <a class="btn btn-info" id="spoty" href="https://accounts.spotify.com/authorize?client_id=1ec4eab22f26449491c0d514d9b464ef&response_type=code&redirect_uri=http://localhost:4200/foryou&scope=playlist-modify-public%20playlist-modify-private" (click)="createPlaylist()">
              <i class="fa-brands fa-spotify"></i>CREATE PLAYLIST</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="results" *ngFor="let lhsong of lhsongs$ | async">

<div class="card" >
  <div class="card-header" id="head">
      <p class="card-text" id="genre">Genre: <span class="badge rounded-pill bg-info">{{lhsong.genre}}</span></p>
  </div>
  <div class="card-body">             
    <iframe style="border-radius:12px" [src]='srcgenerator(lhsong.trackId)' width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class="buttons">
      <a class="btn btn-primary" id="btn" routerLink="/discover/{{lhsong.trackId}}">Find more like this</a>
      <a class="btn btn-secondary" *ngIf="!isLiked(lhsong)" id="btn2" (click)="likeSong(lhsong.id)"><i class="fa-solid fa-heart"></i></a>
      <a class="btn btn-danger" *ngIf="isLiked(lhsong)" id="btn2" (click)="dislikeSong(lhsong.id)"><i class="fa-solid fa-trash"></i></a>
      <a class="btn btn-secondary" id="btn3" routerLink="/musics/{{lhsong.trackId}}"><i class="fa-solid fa-circle-info"></i></a>
    </div>
  </div>
  
</div>

<hr>
</div>