h1 {
    color: white;
    text-align: left;
    font-size: 8em;
    padding-bottom: 1em;
}

h2 {
    color: white;
    text-align: left;
    font-size: 4.5em;
    padding-bottom: 1em;
}

h3 {
    color: rgb(161, 47, 253);
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 1em;
    margin-top: 2em;
}