.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.dropdown-toggle {
    color: aliceblue;
    text-decoration: none;
    size: 2em;
}

.dropdown-item {
    color: #ffff;
}

.dropdown-item:hover {
    background-color: rgb(132, 25, 167);
    color: white;
    text-shadow: #ffff;
}

.dropdown-divider{
    color: #ffff;
    background-color: #ffff;
}

.right {
    float: right;
}

img {
    max-height: 2vw;
    max-width: 2vw;
    border-radius: 50%;
    border-inline: 0;
    border: 0.18vw solid #77067a;
    display: inline;
    margin: 0.4vw;
}

nav {  
    height: 7em;
}

#hingify {
    font-size: 2.5em;
}

#navitem {
    font-size: 1.5em;
}

.navbar-nav {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

#icon {
    padding-right: 0.4em;
}

#dtoggle {
    font-size: 1.3em;
}

#ddown {
    border-radius: 12px;
    border-width: 2px;
    border-color: rgb(148, 15, 192);
    border-style: solid;
    padding: 0.5em;
}

#dmenu {
    border-width: 2px;
    border-color: rgb(148, 15, 192);
    border-style: solid;
}

