.dropdown-toggle, .dropdown-item{
    cursor: pointer;
}

.dropdown-toggle {
    color: aliceblue;
    text-decoration: none;
    size: 2em;
}

.dropdown-item {
    color: #ffff;
}

.dropdown-item:hover {
    background-color: rgb(132, 25, 167);
    color: white;
    text-shadow: #ffff;
}

.dropdown-divider{
    color: #ffff;
    background-color: #ffff;
}

.right {
    float: right;
}

img {
    max-height: 2vw;
    max-width: 2vw;
    border-radius: 50%;
    border-inline: 0;
    border: 0.15vw solid rgb(83, 181, 185);
    display: inline;
    margin: 0.4vw;
}

nav {  
    max-height: 2.8vw;
}

