<div class="card">
    <h2>Your liked songs</h2>
    <br>
    <div class="row">
        <div class="col-2">
            <p *ngFor="let likedsong of likedsongs">{{likedsong.trackName}}</p>
        </div>
    </div>
</div>


<div class="card">
    <h2>Top hits in your area</h2>
    <br>
    <div class="col-2">
        <p *ngFor="let originsong of originsongs">{{originsong.trackName}}</p>
    </div>
</div>


<div class="card">
    <h2>People around your age also liked..</h2>
    <br>
    <div class="col-2">
        <p *ngFor="let agesong of agesongs">{{agesong.trackName}}</p>
    </div>
</div>


<div class="card">
    <h2>Gender rules!</h2>
    <br>
    <div class="col-2">
        <p *ngFor="let gendersong of gendersongs">{{gendersong.trackName}}</p>
    </div>
</div>
