<h1>To start off, We've made some playlist for You based on your profile. Enjoy!</h1>

<h2>Your liked songs</h2>
<div class="container">
    <div class="card" *ngFor="let likedsong of likedsongs">
        <li class="trackname">{{likedsong.trackName}}</li>
        <li class="artistname">{{likedsong.artistName}}</li>
        <li class="genre">{{likedsong.genre}}</li>
    </div>
</div>



<h2>Top hits in your area</h2>
<div class="container">
    <div class="card" *ngFor="let originsong of originsongs">
        <li class="trackname">{{originsong.trackName}}</li>
        <li class="artistname">{{originsong.artistName}}</li>
        <li class="genre">{{originsong.genre}}</li>
    </div>
</div>


<h2>People around your age also liked..</h2>
<div class="container">
    <div class="card" *ngFor="let agesong of agesongs">
        <li class="trackname">{{agesong.trackName}}</li>
        <li class="artistname">{{agesong.artistName}}</li>
        <li class="genre">{{agesong.genre}}</li>
    </div>
</div>


<h2>Gender rules!</h2>
<div class="container">
    <div class="card" *ngFor="let gendersong of gendersongs">
        <li class="trackname">{{gendersong.trackName}}</li>
        <li class="artistname">{{gendersong.artistName}}</li>
        <li class="genre">{{gendersong.genre}}</li>
    </div>
</div>
