<div class="container">
  <h1>
    Uh-oh! It looks like you're lost.
  </h1>

  <div data-js="astro" class="astronaut">
    <div class="head"></div>
    <div class="arm arm-left"></div>
    <div class="arm arm-right"></div>
    <div class="body">
      <div class="panel"></div>
    </div>
    <div class="leg leg-left"></div>
    <div class="leg leg-right"></div>
    <div class="schoolbag"></div>
  </div>
  <div class="buttons">
    <button routerLink="/home">
      <span>Go to Home ></span>
    </button>
  </div>
</div>
