<div class="container">
    <h1>The page you were looking for is no longer available or never even existed.</h1>
    <h2>Get back to the home page!</h2>
    <button class="btn btn-info btn-lg" routerLink="/">Return to home page</button>
    <div class="head">
        <div class="ear left"></div>
        <div class="ear right"></div>
      
        <div class="face">
          <div class="eye left">
            <div class="inner left"></div>
          </div>
          <div class="eye right">
            <div class="inner right"></div>
          </div>
          <div class="nose"></div>
          <div class="mouth"></div>
        </div>
      
      </div>
</div>
