h1 {
    color: white;
    text-align: left;
    font-size: 8em;
    padding-bottom: 1em;
    text-align: center;
}

h2 {
    color: white;
    text-align: left;
    font-size: 4em;
    padding-bottom: 1em;
    text-align: center;
}

h3 {
    color: white;
    text-align: left;
    font-size: 3em;
    padding-bottom: 1em;
    text-align: center;
}

.help {
    margin-top: 8em;
    display: flex;
    justify-content: center;
}

#btn3 {
    background-color: rgb(30, 215, 96);
    border-color: #ffffff;
    min-width: fit-content;
    width: 10vw;
    height: fit-content;
    font-size: 2em;
    border-radius: 12px;
}
  