<h1>About</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="btn">
          <i class="fa-solid fa-clipboard-question"></i>Why was this project created?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h3>This project is for my thesis work.</h3>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" id="btn">
          <i class="fa-solid fa-clipboard-question"></i>Credits
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <ul>
                <h3>Tóth Ákos Zalán. <span class="badge rounded-pill bg-info">Creator</span></h3>
                <h3>Simon-Nagy Gabriella. <span class="badge rounded-pill bg-warning">Consulent</span></h3>
            </ul>
          
          
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" id="btn">
          <i class="fa-solid fa-clipboard-question"></i>University credits
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <h3>Óbudai Egyetem Neumann János Kar, mérnökinformatikus szak</h3>
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" id="btn">
            <i class="fa-solid fa-clipboard-question"></i>I need help
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <h3>Head over to our Help page for futher assisstation.</h3>
              <a type="button" class="btn btn-light" id="go" href="https://accounts.spotify.com/authorize?client_id=1ec4eab22f26449491c0d514d9b464ef&response_type=code&redirect_uri=http://localhost:4200/help&scope=user-read-currently-playing">Go to help ></a>
          </div>
        </div>
      </div>
  
    
  </div>