<h1 *ngIf="user">Hello, {{user.firstName}}!</h1>
<div class="alert alert-info" *ngIf="editForm.dirty">
    <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost.</p>
</div>
<h2><b>Reminder:</b> You can only edit certain things on your profile.</h2>

<div class="card">
    <table>
        <tr>
            <td>
                <div class="picdiv">
                <img src="{{user.photoUrl || './assets/user2.png'}}" alt="Profile Picture" class="card-img">                 
                </div> 
                <button type="button" class="btn btn-outline-secondary">Edit photo</button>
            </td>
            <td>
                <p class="name">{{user.firstName}} {{user.lastName}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Username</h3>
                <p class="datas">@{{user.username}}</p>
                <h3>Birth country</h3>
                <p class="datas">{{user.country}}</p>
                <h3>Gender</h3>
                <p class="datas">{{user.gender}}</p>
                <h3>Birth year</h3>
                <p class="datas">{{user.yearOfBirth}}</p>
                
            </td>
            <td>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="submitChanges()">
                    <h3>Email</h3>
                    <input type="text" class="inputs" [(ngModel)]="user.email" name="email" />
                    <h3>First name</h3>
                    <input type="text" class="inputs" [(ngModel)]="user.firstName" name="firstname" />
                    <h3>Last name</h3>
                    <input type="text" class="inputs" [(ngModel)]="user.lastName" name="lastname" />
                </form>
                
                <!--<h3>Change password</h3>
                <input type="password" class="pw" placeholder="Password"/>-->
                
                <button type="submit" form="editForm" class="btn btn-primary btn-lg" [disabled]="!editForm.dirty">Save changes</button>
            </td>
        </tr>
    </table>
</div>


