<div class="wrap" *ngIf="(yearlyStats$ |async)?.length > 0">

    <div class="explanation"> 
        <h1>Statistics</h1>
    </div>

    <div class="dailystat" *ngFor="let stat of dailyStats$ | async"> 
        <h3>
            Daily 
            <sup class="supp" title="This field shows statistics you did on this specific day. 
        Eg. the statistics about what you did on a friday.
        Right now it's {{day}}.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
            <div class="card-header" id="head">
                Most listened genre
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genre">{{stat.mostListenedGenre}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Minutes spent with listening to music
            </div>
            <div class="card-body">
              <h5 class="card-title" id="minslistening">{{stat.minsSpent}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened artist
            </div>
            <div class="card-body">
              <h5 class="card-title" id="artist">{{stat.mostListenedArtist}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened song
            </div>
            <div class="card-body">
              <h5 class="card-title" id="song">{{stat.mostListenedSong}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Number of listened genres:
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genreno">{{stat.numOfListenedGenre}}</h5>
            </div>
          </div>
        
    </div>

    <div class="weeklystat" *ngFor="let stat of weeklyStats$ | async"> 
        <h3>
            Weekly
            <sup class="supp" title="This field shows statistics about this current week.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
          <div class="card-header" id="head">
              Most listened genre
          </div>
          <div class="card-body">
            <h5 class="card-title" id="genre">{{stat.mostListenedGenre}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Minutes spent with listening to music
          </div>
          <div class="card-body">
            <h5 class="card-title" id="minslistening">{{stat.minsSpent}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Most listened artist
          </div>
          <div class="card-body">
            <h5 class="card-title" id="artist">{{stat.mostListenedArtist}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Most listened song
          </div>
          <div class="card-body">
            <h5 class="card-title" id="song">{{stat.mostListenedSong}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Number of listened genres:
          </div>
          <div class="card-body">
            <h5 class="card-title" id="genreno">{{stat.numOfListenedGenre}}</h5>
          </div>
        </div>

    </div>

    <div class="monthlystat" *ngFor="let stat of monthlyStats$ | async"> 
        <h3>
            Monthly
            <sup class="supp" title="This field shows statistics about this current month.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
            <div class="card-header" id="head">
                Most listened genre
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genre">{{stat.mostListenedGenre}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Minutes spent with listening to music
            </div>
            <div class="card-body">
              <h5 class="card-title" id="minslistening">{{stat.minsSpent}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened artist
            </div>
            <div class="card-body">
              <h5 class="card-title" id="artist">{{stat.mostListenedArtist}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened song
            </div>
            <div class="card-body">
              <h5 class="card-title" id="song">{{stat.mostListenedSong}}</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Number of listened genres:
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genreno">{{stat.numOfListenedGenre}}</h5>
            </div>
          </div>
    </div>

    <div class="yearlystat" *ngFor="let stat of yearlyStats$ | async"> 
        <h3>
            Yearly
            <sup class="supp" title="This field shows statistics about this current year.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
          <div class="card-header" id="head">
              Most listened genre
          </div>
          <div class="card-body">
            <h5 class="card-title" id="genre">{{stat.mostListenedGenre}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Minutes spent with listening to music
          </div>
          <div class="card-body">
            <h5 class="card-title" id="minslistening">{{stat.minsSpent}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Most listened artist
          </div>
          <div class="card-body">
            <h5 class="card-title" id="artist">{{stat.mostListenedArtist}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Most listened song
          </div>
          <div class="card-body">
            <h5 class="card-title" id="song">{{stat.mostListenedSong}}</h5>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="head">
              Number of listened genres:
          </div>
          <div class="card-body">
            <h5 class="card-title" id="genreno">{{stat.numOfListenedGenre}}</h5>
          </div>
        </div>
    </div>

</div>
