h1 {
    color: white;
    text-align: center;
    font-size: 8em;
    margin-bottom: 1.5em;
}

h2 {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

h3 {
    color: white;
    text-align: center;
    font-size: 3.5em;
    padding-bottom: 1.5em;
    text-decoration: underline;
}

#expl {
    color: rgb(115, 233, 174);
    padding-left: 0.2em;
}

.supp {
    position: relative;
    cursor: pointer;
}



.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 0px;
    }
    
    .explanation { 
        grid-area: 1 / 1 / 2 / 5; 
    }
    
    .dailystat { 
        grid-area: 2 / 1 / 5 / 2; 

        /*
        border-radius: 12px;
        border-width: 2px;
        border-color: rgb(23, 77, 192);
        border-style: solid;
        */
    }

    .weeklystat { 
        grid-area: 2 / 2 / 5 / 3; 

        /*
        border-radius: 12px;
        border-width: 2px;
        border-color: rgb(23, 77, 192);
        border-style: solid;
        */
    }

    .monthlystat { 
        grid-area: 2 / 3 / 5 / 4; 

        /*
        border-radius: 12px;
        border-width: 2px;
        border-color: rgb(23, 77, 192);
        border-style: solid;
        */
    }

    .yearlystat { 
        grid-area: 2 / 4 / 5 / 5; 

        /*
        border-radius: 12px;
        border-width: 2px;
        border-color: rgb(23, 77, 192);
        border-style: solid;
        */
    }


    .card {
        margin-bottom: 1em;
      }

      #head {
        font-size: 1.5em;
        font-weight: bold;
      }

      #genre {
        font-size: 1.3em;
        color: rgb(243, 217, 102);
      }

      #minslistening {
        font-size: 1.3em;
        color: rgb(154, 243, 102);
      }

      #artist {
        font-size: 1.3em;
        color: rgb(102, 238, 243);
      }

      #song {
        font-size: 1.3em;
        color: rgb(231, 102, 243);
      }

      #genreno {
        font-size: 1.3em;
        color: rgb(102, 104, 243);
      }