<div class="wrap">

    <div class="explanation"> 
        <h1>Statistics</h1>
    </div>

    <div class="dailystat"> 
        <h3>
            Daily 
            <sup class="supp" title="This field shows statistics you did on this specific day. Eg. the statistics about what you did on a friday.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>
    </div>

    <div class="weeklystat"> 
        <h3>
            Weekly
            <sup class="supp" title="This field shows statistics about this current week.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>
    </div>

    <div class="monthlystat"> 
        <h3>
            Monthly
            <sup class="supp" title="This field shows statistics about this current month.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>
    </div>

    <div class="yearlystat"> 
        <h3>
            Yearly
            <sup class="supp" title="This field shows statistics about this current year.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>
    </div>

</div>
