<div class="wrap">

    <div class="explanation"> 
        <h1>Statistics</h1>
    </div>

    <div class="dailystat"> 
        <h3>
            Daily 
            <sup class="supp" title="This field shows statistics you did on this specific day. 
        Eg. the statistics about what you did on a friday.
        Right now it's {{day}}.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
            <div class="card-header" id="head">
                Most listened genre
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genre">Alternative</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Minutes spent with listening to music
            </div>
            <div class="card-body">
              <h5 class="card-title" id="minslistening">1654</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened artist
            </div>
            <div class="card-body">
              <h5 class="card-title" id="artist">Dzsúdló</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened song
            </div>
            <div class="card-body">
              <h5 class="card-title" id="song">Gyere be</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Number of listened genres:
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genreno">3</h5>
            </div>
          </div>
        
    </div>

    <div class="weeklystat"> 
        <h3>
            Weekly
            <sup class="supp" title="This field shows statistics about this current week.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
            <div class="card-header" id="head">
                Most listened genre
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genre">Rock</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Minutes spent with listening to music
            </div>
            <div class="card-body">
              <h5 class="card-title" id="minslistening">10648</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened artist
            </div>
            <div class="card-body">
              <h5 class="card-title" id="artist">Bon Jovi</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened song
            </div>
            <div class="card-body">
              <h5 class="card-title" id="song">scp interlude</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Number of listened genres:
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genreno">8</h5>
            </div>
          </div>
    </div>

    <div class="monthlystat"> 
        <h3>
            Monthly
            <sup class="supp" title="This field shows statistics about this current month.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
            <div class="card-header" id="head">
                Most listened genre
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genre">Rock</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Minutes spent with listening to music
            </div>
            <div class="card-body">
              <h5 class="card-title" id="minslistening">46592</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened artist
            </div>
            <div class="card-body">
              <h5 class="card-title" id="artist">Bon Jovi</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened song
            </div>
            <div class="card-body">
              <h5 class="card-title" id="song">You Give Love a Bad Name</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Number of listened genres:
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genreno">14</h5>
            </div>
          </div>
    </div>

    <div class="yearlystat"> 
        <h3>
            Yearly
            <sup class="supp" title="This field shows statistics about this current year.">
                <i class="fa-regular fa-circle-question" id="expl"></i>
            </sup>
        </h3>

        <div class="card">
            <div class="card-header" id="head">
                Most listened genre
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genre">Alternative</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Minutes spent with listening to music
            </div>
            <div class="card-body">
              <h5 class="card-title" id="minslistening">169874</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened artist
            </div>
            <div class="card-body">
              <h5 class="card-title" id="artist">Declan McKenna</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Most listened song
            </div>
            <div class="card-body">
              <h5 class="card-title" id="song">Brazil</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="head">
                Number of listened genres:
            </div>
            <div class="card-body">
              <h5 class="card-title" id="genreno">26</h5>
            </div>
          </div>
    </div>

</div>
