<div class="lsongs" *ngIf="(originsongs$ |async)?.length > 0">
    <div class="results">
        <div class="hover">
            Top hits in your area
        </div>       
        <div class="card" *ngFor="let originsong of originsongs$ | async">
            <div class="card-header" id="head">
                <p class="card-text" id="genre">Genre: <span class="badge rounded-pill bg-danger">{{originsong.genre}}</span></p>
            </div>
            <div class="card-body">
                <iframe style="border-radius:12px" [src]='srcgenerator(originsong.trackId)' width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <div class="buttons">
                  <a class="btn btn-primary" id="btn" routerLink="/discover/{{originsong.trackId}}">Find more like this</a>
                  <a class="btn btn-secondary" *ngIf="!isLiked(originsong)" id="btn2" (click)="likeSong(originsong.id)"><i class="fa-solid fa-heart"></i></a>
                  <a class="btn btn-danger" *ngIf="isLiked(originsong)" id="btn2" (click)="dislikeSong(originsong.id)"><i class="fa-solid fa-trash"></i></a>
                  <a class="btn btn-secondary" id="btn3" routerLink="/musics/{{originsong.trackId}}"><i class="fa-solid fa-circle-info"></i></a>
                  <a class="btn btn-success" id="btn4" (click)="addBehaviorWithButton(originsong.trackId)"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
