@import '~ngx-toastr/toastr';

body {
    background-repeat: repeat-x;
    min-height: 110vh;
}

footer {
    color: white;
    padding: 3em;
    border-top: 1em;
    border-color: aliceblue;
    position: fixed;
    bottom: 0;
    height: 4em;
    width: 100%;
    text-align: center;
}